.container-xxl {
    max-width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.auto-container {
    position: static;
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-footer {
    position: relative;
    background-color: #24386C;
    overflow: hidden
}

.main-footer__widget {
    margin-bottom: 22px;
    position: relative
}

.main-footer__widget h4 {
    position: relative;
    text-transform: capitalize;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em
}

.main-footer__column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px 10px
}

.main-footer .widgets-section {
    padding: 62px 0 0;
    position: relative
}

.main-footer__title {
    margin-bottom: 30px;
    position: relative
}

.main-footer__link {
    color: #fff
}

.main-footer__link:hover {
    text-decoration: underline;
    color: #fff
}

.main-footer__list {
    position: relative;
    white-space: nowrap
}

.main-footer__list li {
    margin-bottom: 16px;
    position: relative;
    color: #ececec;
    font-size: 18px;
    line-height: 28px
}

.main-footer__list li a {
    position: relative;
    color: #ececec
}

.main-footer__list li a:hover {
    color: #fff
}

.main-footer__list li a:hover span {
    text-decoration: underline
}

.main-footer__list i {
    max-width: 18px;
    margin-right: 8px;
    color: #fff
}

.main-footer li .icon {
    width: 18px;
    margin-bottom: -7px;
    position: absolute;
    bottom: 50%;
    left: 0;
    text-align: center;
    color: #fff
}

.main-footer .nav-list {
    position: relative
}

.main-footer .nav-list li {
    margin-bottom: 6px;
    position: relative
}

.main-footer .nav-list li::marker {
    font-size: inherit
}

.main-footer .nav-list li a {
    position: relative;
    color: #fff;
    font-size: 14px
}

.main-footer .nav-list li a:hover {
    color: #fff
}

.main-footer .news-widget {
    width: 396px
}

.main-footer .news-widget .post {
    min-height: 70px;
    margin-bottom: 15px;
    padding-left: 60px;
    position: relative
}

.main-footer .news-widget .post:last-child {
    margin-bottom: 0
}

.main-footer .news-widget .post .thumb {
    width: 70px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.main-footer .news-widget .post .thumb a {
    display: block
}

.main-footer .news-widget .post .thumb img {
    display: block;
    width: 40px;
    height: auto
}

.main-footer .news-widget .post h4 {
    position: relative;
    top: -5px;
    color: #ececec;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em
}

.main-footer .news-widget .post h4 a {
    color: #ececec
}

.main-footer .news-widget .post h4 a:hover {
    text-decoration: underline;
    color: #fff
}

.main-footer .social-box {
    display: flex;
    margin-bottom: 42px
}

.main-footer .social-box li {
    margin-right: 32px
}

.main-footer .social-box li a {
    color: #fff;
    font-size: 32px
}

.main-footer .social-box li a:hover {
    color: #fff;
    color: #DC244C
}

.main-footer .footer-bottom {
    padding: 20px 0;
    position: relative;
    border-top: 1px solid rgba(255,255,255,.1)
}

.main-footer .footer-bottom .copyright {
    margin-top: 2px;
    position: relative;
    color: #fff
}

.main-footer .footer-bottom .copyright a {
    color: #fa0
}

.main-footer .footer-bottom .language-column {
    position: relative;
    text-align: right
}

.main-footer .footer-bottom .language {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    line-height: 1em
}

.main-footer .footer-bottom .language .flag-icon {
    margin-right: 8px
}

.main-footer .footer-bottom .language .dropdown-menu {
    width: 170px;
    margin-top: 0;
    padding: 0;
    top: 100%;
    right: 0;
    left: auto;
    border: none;
    border-top: 3px solid #24386C;
    border-radius: 0;
    background-color: #fff
}

.main-footer .footer-bottom .language .dropdown-menu>li {
    display: block !important;
    margin: 0 !important;
    padding-right: 0 !important;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.main-footer .footer-bottom .language .dropdown-menu>li:last-child {
    border-bottom: none
}

.main-footer .footer-bottom .language .dropdown-menu>li>a {
    display: block;
    padding: 14px 20px !important;
    text-align: left;
    color: #24386C;
    font-size: 14px
}

.main-footer .footer-bottom .language .dropdown-menu>li>a:hover {
    color: #7589BE !important;
    background-color: #fff
}

.main-footer .footer-bottom .language>a {
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1em
}

.main-footer .footer-bottom .language>a:after {
    display: none
}

.main-footer .footer-bottom .language a:hover {
    background: none
}
